### Data Gathering ###
First, I imported the correct installations to run data scraping on a website. This website has the Animal Crossing villager rankings of all the villagers, voted on by fans, that is updated every week. For this, I created a csv file to analyze the rankings for only November.

In [117]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

Now, with the website URL, I inspected the code to figure out how the columns were organized, and found the class for the name of the villager, and the ranking, and that was all I needed from there.

In [118]:
vil_response = requests.get('https://www.animalcrossingportal.com/tier-lists/new-horizons/all-villagers/')

In [119]:
vil_soup = BeautifulSoup(vil_response.text, 'html.parser')

Then, I game them both names, and also selecting out just the text within the code.

In [120]:
acnh_names_ranked = [x.text for x in vil_soup.find_all(attrs = {'class': 'c-candidate-name'})]

In [121]:
acnh_numbers_ranked = [x.text for x in vil_soup.find_all(attrs = {'class': 'c-candidate-rank'})]

I then made a dataframe starting with the names, and had to change the column name because it defaulted to naming it "0" which I did not want.

In [122]:
name_pd = pd.DataFrame(acnh_names_ranked)

In [123]:
name_pd.rename(columns={name_pd.columns[0]: "Name"}, inplace=True)

Now I add a new column to show the ranking of the characters.

In [124]:
name_pd['Rank'] = acnh_numbers_ranked

In [125]:
name_pd.head()

      Name Rank
0     Wade    1
1    Shino    2
2      Bob    3
3    Maple    4
4  Raymond    5

And, I save it to a csv file so the data inside does not get changed.

In [126]:
name_pd.to_csv('20231128ACNH_Rankings.csv')

For all the characters' information, I was able to find a excel sheet that had all the info I needed, so I saved it as a csv as well.

In [128]:
vil_all = pd.read_csv('ACNH_Villager_List.csv')
vil_all.head()

,Name,Icon Image,Photo Image,House Image,Species,Gender,Personality,Subtype,Hobby,Birthday,...,Flooring,Furniture List,Furniture Name List,DIY Workbench,Kitchen Equipment,Version Added,Name Color,Bubble Color,Filename,Unique Entry ID
0,Ace,NaN,NaN,NaN,Bird,Male,Jock,A,Nature,8/11,...,green-paint flooring,1051;2554;2606;3122;4338;12309;12780;13114;131...,water bird;double sofa;ranch bed;mini DIY work...,"3122,3_0","14054,5_0",2.0.0,#fffce9,#0961f6,brd09,cBJxF2eoM4Cymei82
1,Admiral,NaN,NaN,NaN,Bird,Male,Cranky,A,Nature,1/27,...,tatami,717;787;1849;2736;3438;3449;3622;3802;4029;410...,clay furnace;tape deck;kotatsu;retro fan;woode...,"3122,2_0",717,1.0.0,#fffce9,#0ca54a,brd06,B3RyfNEqwGmcccRC3
2,Agent S,NaN,NaN,NaN,Squirrel,Female,Peppy,B,Fitness,7/2,...,colorful tile flooring,290;1708;2560;3449;3468;3971;4080;4753;4756;71...,treadmill;cassette player;wooden chest;wooden ...,"3995,4_0","3616,2_0",1.0.0,#fffce9,#0961f6,squ05,SGMdki6dzpDZyXAw5
3,Agnes,NaN,NaN,NaN,Pig,Female,Big Sister,A,Play,4/21,...,arabesque flooring,896;3428;3773;3951;3958;4027;4129;7136;7235;72...,cat tower;wall-mounted TV (50 in.);terrarium;a...,"3943,2_0","3616,5_0",1.0.0,#fffce9,#515151,pig17,jzWCiDPm9MqtCfecP
4,Al,NaN,NaN,NaN,Gorilla,Male,Lazy,B,Fitness,10/18,...,green rubber flooring,833;1452;3307;3697;3946;3960;4013;4078;4116;78...,upright locker;weight bench;digital scale;port...,"3943,3_0","3251,4_0",1.0.0,#fffad4,#798040,gor08,LBifxETQJGEaLhBjC